<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label>
            Packets
        </label>
        <p id="packets">{{packet_data_df}} </p>
        <label for=""> Prediction</label>
        <p id="predictions">{{predictions}}</p>
        <button id="start">Submit</button>
    </form>
</body>
</html>